@import url(ticketCard.css);
@import url(home.css);

* {
  padding: 0;
  margin: 0;
}

/*fonts:*/
@font-face {
  font-family: title;
  src: url("../fonts/Bernardo.ttf");
}

@font-face {
  font-family: text;
  src: url("../fonts/Cafe-Light.ttf");
}

@font-face {
  font-family: footer;
  src: url("../fonts/Cafe-Bold-Italic.ttf");
}
